Repository zapal-tech/payload-blurhash-plugin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --fix"],
  "*.{json,html,md}": ["prettier --write"]
}

fix: publish workflow
  .github/workflows/publish.yml
Due: none

fix: npm publish workflow
  .github/workflows/publish.yml
Due: none

feat: add manual trigger
  .github/workflows/publish.yml
Due: none

fix: npm ci
  .github/workflows/publish.yml
Due: none

feat: add more comments
  eslint-config/rules/import.js
  src/constants.ts
  src/options.ts
  src/plugin.ts
  src/types.ts
  src/utils/getIncomingFile.ts
Due: prettier --write, eslint --fix

chore: update package info
  package-lock.json
  package.json
Due: prettier --write

feat: add documentation to the README.md file
  README.md
  github-banner.jpg
Due: prettier --write

feat: add git hooks
  .husky/commit-msg
  .husky/pre-commit
Due: none

fix: remove postinstall script
  package-lock.json
  package.json
Due: prettier --write

fix: remove bold text (for better UI on npm)
  README.md
Due: prettier --write

chore: normalize git url
  package.json
Due: prettier --write

fix: sharp min version
  README.md
  package.json
Due: prettier --write

1.0.2
  package-lock.json
  package.json
Due: prettier --write

fix: plugin typing
  src/plugin.ts
Due: prettier --write, eslint --fix

1.0.3
  package-lock.json
  package.json
Due: prettier --write

chore: add sharp as required
  README.md
  dev/package.json
  package-lock.json
  package.json
  src/plugin.ts
Due: prettier --write, eslint --fix

1.0.4
  package-lock.json
  package.json
Due: prettier --write

feat: move sharp dependency to peer
  package.json
  src/mocks/sharp.js
  src/webpack.ts
  tsconfig.json
Due: prettier --write, eslint --fix

1.0.5
  package-lock.json
  package.json
Due: prettier --write

chore: update package-lock.json
  package-lock.json
Due: prettier --write

fix: webpack alias
  src/mocks/sharp.js
  src/webpack.ts
Due: prettier --write, eslint --fix

1.0.6
  package-lock.json
  package.json
Due: prettier --write

chore: sharp min version
  package.json
Due: prettier --write

1.0.7
  package-lock.json
  package.json
Due: prettier --write

feat: CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write

docs: SECURITY.md
  SECURITY.md
Due: prettier --write

Add bug report issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier --write

docs: issues config
  .github/ISSUE_TEMPLATE/config.yml
Due: none
